.container {
  &-img {
    background: #999999 url(./style/storage.jpg) center no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 10vh 5vh 0;
  }
  &__file-list {
    margin-top: 10px;
  }
}
