//color

$upload__button__background-color: #ff4f4f;
$upload__button__background-color-hover: #ff6f6f;

//fonts

%font__file {
  font-family: "Hind Siliguri", cursive;
  font-weight: 500;
  font-size: 14px;
}

%font__user {
  font-family: "Bangers", cursive;
  font-size: 14px;
}

%font__date {
  font-family: "Josefin Sans", cursive;
  font-weight: 400;
  font-size: 14px;
}
